@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  font-family: "Poppins",
    sans-serif;
}

@layer components {
  .container {
    max-width: 1180px;
    @apply mx-auto px-5
  }

  .boxShadow {
    box-shadow: 4px 6px 18px #0003
  }
}

@theme {
  --color-primary  : #2EBAC1;
  --color-secondary: #A4D96C;
}