@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  font-family: "Poppins",
    sans-serif;
}

@layer components {
  .container {
    max-width: 1180px;
    @apply mx-auto px-5
  }

  .boxShadow {
    box-shadow: 4px 6px 18px #0003
  }
}

@theme {
  --color-primary  : #2EBAC1;
  --color-secondary: #A4D96C;
}


.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  font-size  : 16px;
}

.entry-content h2,
.entry-content .ql-snow .ql-editor h2,
.entry-content h3,
.entry-content .ql-snow .ql-editor h3,
.entry-content h4,
.entry-content .ql-snow .ql-editor h4 {
  font-weight  : bold;
  margin-bottom: 20px;
}

.entry-content h2,
.entry-content .ql-snow .ql-editor h2 {
  font-size: 32px;
}

.entry-content h3,
.entry-content .ql-snow .ql-editor h3 {
  font-size: 26px;
}

.entry-content h4,
.entry-content .ql-snow .ql-editor h4 {
  font-size: 22px;
}

.entry-content p,
.entry-content .ql-snow .ql-editor p {
  margin-bottom: 20px;
  line-height  : 2;
}

.entry-content figure,
.entry-content .ql-snow .ql-editor figure {
  margin-bottom: 20px;
}

.entry-content figure img,
.entry-content .ql-snow .ql-editor figure img {
  border-radius: 20px;
  margin-bottom: 10px;
}

.entry-content figcaption,
.entry-content .ql-snow .ql-editor figcaption {
  text-align: center;
  font-style: italic;
  font-size : 14px;
  color     : #6b6b6b;
}

.entry-content ul,
.entry-content .ql-snow .ql-editor ul {
  list-style-type: disc;
}

.entry-content ol,
.entry-content .ql-snow .ql-editor ol {
  list-style: decimal;
}

.entry-content ul,
.entry-content .ql-snow .ql-editor ul,
.entry-content ol,
.entry-content .ql-snow .ql-editor ol {
  margin-bottom: 20px;
  padding-left : 40px;
  margin-left  : 0;
}

.entry-content ul li,
.entry-content .ql-snow .ql-editor ul li,
.entry-content ol li,
.entry-content .ql-snow .ql-editor ol li {
  margin-bottom: 10px;
}

.entry-content img,
.entry-content .ql-snow .ql-editor img {
  border-radius: 8px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1023.98px) {

  .entry-content,
  .entry-content .ql-snow .ql-editor {
    font-size: 14px;
  }

  .entry-content h2,
  .entry-content .ql-snow .ql-editor h2 {
    font-size: 26px;
  }

  .entry-content h3,
  .entry-content .ql-snow .ql-editor h3 {
    font-size: 24px;
  }

  .entry-content h4,
  .entry-content .ql-snow .ql-editor h4 {
    font-size: 20px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}

.quill {
  position: relative;


}

.quill .ql-toolbar {
  position        : sticky;
  top             : 0;
  background-color: white;
  z-index         : 10;
}